html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #121212;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sp-logo {
  text-align: center;
  color: #278664;
  padding: 30px;
  font-size: 2.5em;
}

.sp-recent-container {
  padding: 30px;
  color: #e1e1e1;
}

.sp-recent-container > #recent {
  height: 300px;
  overflow: scroll;
  border-top: 1px solid #278664;
  border-bottom: 1px solid #278664;
}

.sp-add_spending-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.sp-add_spending-input {
  padding: 15px;
  border: 3px solid #278664;
  background-color: #1f1f1f;
  color: #e1e1e1;
  border-radius: 35px;
  text-align: center;
  font-size: 1.5em;
  outline: none;
}

.sp-add_spending-amount_input {
  margin: 15px 0;
}

.sp-add_spending-submit_button {
  padding: 15px;
  background-color: #278664;
  color: #e1e1e1;
  border-radius: 35px;
  text-align: center;
  font-size: 1.5em;
}
