:root {
  --bg-color: #121212;
  --primary-font-color: #e1e1e1;
  --secondary-font-color: #7c7c7c;
  --primary-color: #278664;
  --container-padding: 30px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--bg-color);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--primary-font-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sp-logo {
  text-align: center;
  color: var(--primary-color);
  padding: var(--container-padding);
  font-size: 2.5em;
}

.sp-swipe_view-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  width: 100%;
  height: 400px;
}

.sp-swipe_view {
  flex: 0 0 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.sp-swipe_view-title {
  font-size: 1.3em;
  text-align: center;
}

.sp-sum-container > .sp-swipe_view-title {
  margin-bottom: 35px;
}

.sp-sum-category {
  margin-bottom: 35px;
  text-align: center;
}

.sp-sum-value {
  font-size: 2em;
}

.sp-sum-label {
  color: var(--secondary-font-color);
}

.sp-recent-container {
  color: var(--primary-font-color);
}

.sp-recent-container > #recent {
  height: 350px;
  overflow: scroll;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.sp-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sp-settings-container > .sp-swipe_view-title {
  margin-bottom: 30px;
}

.sp-setting {
  background-color: var(--primary-color);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 200px;
  text-align: center;
}

.sp-setting#reset {
  background-color: red;
}

.sp-add_spending-container {
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
}

.sp-add_spending-input {
  padding: 15px;
  border: 3px solid var(--primary-color);
  background-color: var(--bg-color);
  border-radius: 35px;
  text-align: center;
  font-size: 1.5em;
  outline: none;
}

.sp-add_spending-input::placeholder {
  color: var(--secondary-font-color);
}

.sp-add_spending-amount_input {
  margin: 15px 0;
}

.sp-add_spending-submit_button {
  padding: 15px;
  background-color: var(--primary-color);
  border-radius: 35px;
  text-align: center;
  font-size: 1.5em;
}
